<div>
	<h2>{{product.brand}}</h2>
	{{product.model}}
	<div class="ui cards">
		<div class="card">
			<div class="content">
				<div class="header">SKU : {{product.sku}}</div>
				<div class="meta">Suppier : {{product.supplier_name}}</div>
				Color : {{product.color}}<br>
				Variation  : {{product.variation}}<br>
				<div class="description">
					<h5>Description :</h5>
					{{product.description}}
				</div>
			</div>
		</div>
	</div>
</div>