<div>
	<h1>Product List</h1>
	<div class="ui cards">
		<div class="card">
			<div class="content">
				<div class="header">{{model}}</div>
				<div class="meta">{{sku}}</div>
				<div class="description">
					{{description}}
				</div>
				{{product.model}}<br>
				{{product.supplier}}<br>
				{{product.color}}<br>
				{{product.variation}}<br>
			</div>
		</div>
	</div>
</div>